html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/* .temp {
    background-color: orange;
} */

.body_page {
    display: grid;
    grid-template-areas: "leftBlock rightBlock";
    grid-template-columns: 14% 85%;
    /* grid-auto-rows: minmax(20%, auto); */
    grid-gap: 1em;
}

.leftBlock {
    grid-area: leftBlock;
    /* background-color: aqua; */
    border-right: 1px solid gray;
}

.rightBlock {
    grid-area: rightBlock;
    /* background-color: orange; */
}

.firstIll {
    width: 360px;
    height: 512px;
    margin-top: 20px;
    margin-left: 23%;
    /* display: "flex";
    justify-content: center;
    align-items: center; */
    /* text-align: center; */
}

.firstIll img {
    width: 360px;
    height: 512px;
}

.twitIll {
    width: 170px;
    height: 110px;
    /* overflow: hidden; */
}

.twitIll img {
    width: 170px;
    height: 110px;
}

.verseCard {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.verseCard img {
    width: 100px;
    height: 100px;
}
