@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap");

.main {
    font-family: "Stint Ultra Condensed", cursive;
    font-family: "Newsreader", serif;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    text-align: center;
}
